.logo {
  background-image: url('https://s3-eu-west-1.amazonaws.com/jssolutions/Article_Photo/home-page/apiko-logos/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 40px;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}